body {
    background-color: rgb(255, 234, 0);
    font-family: 'Lato', sans-serif;
    text-align: center;

}

.title {
    font-size: 100px;
    font-weight: 900;
}

.container {
    display: flex;
    justify-content: center;
    gap: 25px;
}

img {
    transition: transform 250ms;
}

img:hover {
    transform: translateY(-10px);
}

.rock,
.paper,
.scissor {
    max-width: 260px;
}

.result,
.score {
    font-size: 50px;
    font-weight: 600;
}

.result {
    margin-top: 40px;
}

button {
    font-size: large;
    font-weight: 400;
    border: 5px solid;
    border-color: black;
    padding: 10px 15px;
    background-color: white;
}

